<div class="panel panel-default">
  <div class="panel-body">

    <h2>Профиль пользователя <b><%= current_user.nickname || current_user.email %></b></h2>
    <hr>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">

        <% if current_user.admin %>
          <%= render template: 'admins/index' %> 
        <% else %>
          <%= render partial: 'edit_form' %>
        <% end %>

      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
</div>
