<p id="notice", style='text-align: center; color: green;'><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4><b>Title</b></h4>
  </div>
  <div class="panel-body">
    Content
  </div>
<div class="panel-footer"> 

<div class="row">
  <div class="col-md-4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> от user</div>
  <div class="col-md-1"></div>
  <div class="col-md-4" align='right'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Likes <span class="badge">0</span></div>
  <div class="col-md-3">Comments <span class="badge">0</span></div>
</div>

</div>

</div>
