<p id="notice", style='text-align: center; color: green;'><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4><b>Вас приветствует Админ-панель</b></h4>
  </div>
  <div class="panel-body">
    Добро пожаловать в систему управления блогом
    В боковом меню представлены разделы, в которых собрана 
    вся информация про составляющие сайта.

    Так же с этих разделов доступно управление контентом
  </div>
<div class="panel-footer"> 

<div class="row">
  <div class="col-md-4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Администратор</div>
  <div class="col-md-1"></div>
  <div class="col-md-4" align='right'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Приветствие <span class="badge">0</span></div>
  <div class="col-md-3">Новости <span class="badge">0</span></div>
</div>

</div>

</div>
