<%= simple_form_for [@post, @post.comments.build] do |f| %>
  <div class="field">
    <%= f.input :content, as: :text, label: false, class: "form-control", id: "comment_content", placeholder: "Ваш комментарий..." %>
  </div>
	<div class="actions">
    <%= link_to 'Отмена', '', class: 'btn btn-default' %>
    <%= f.submit 'Отправить', class: 'btn btn-success' %>
  </div>
<% end %>
