<br />
<h2>Комментировать </h2>

<%= form_for [@post, @post.comments.build] do |f| %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="field">
   		<%= f.text_area :content, class: "form-control", placeholder: "Ваш комментарий...", size: "90x4" %>
  	</div>
  </div>
  <div class="panel-footer"><div class="actions">
    <%= button_to "Создать", { action: "create" }, remote: true, form: { "data-type" => "json" }, class: 'btn btn-success' %>
  </div></div>
</div>

<% end %>