<title>Изменение обьявления | SimplyBlog by Vadim</title>

<div class="panel panel-default">

  <div class="panel-body">
    <p><%= render partial: 'edit_form', warning: @warning %></p>
  </div>

</div>