<ol class="breadcrumb">
  <li><a href="/">SimpleBlog</a></li>
  <li><a href="/admins/index">Админ-панель</a></li>
  <li class="active">Обьявления</li>
</ol>


	<%= render partial: 'posts/warning', locals: {warnings: @warnings} %>

