<br />
<h2>Изменить комментарий: </h2>

<%= form_for [@post, @post.comments.build] do |f| %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="field">
   		<%= f.text_area :content, size: "90x4" %>
  	</div>
  </div>
  <div class="panel-footer"><div class="actions">
    <%= f.submit "Отправить" %>
  </div></div>
</div>

<% end %>