<br />
<h1 class="text-center"><b>Simply</b>blog</h1>
<h3 class="text-center">это ресурс, который позволит Вам поделиться мыслями и идеями с окружающим миром</h3>
<br />
<h3 class="text-center">Задача SimplyBlog — в каждый отдельно взятый момент оставаться наиболее современным, быстрым и эстетичным способом общения в сети</h3>

<br />

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2"><%= button_to "Вернуться назад", posts_path, class: 'btn btn-success btn-lg' %></div>
  <div class="col-md-5"></div>
</div>
