<title>Мои комментарии | SimplyBlog by Vadim</title>

<p id="notice", style='text-align: center; color: green;'><%= notice %></p>

<% @my_comments.order('created_at DESC').each do |c| %>

  <blockquote>
    <p><%= c.content %></p>
    <footer>
      К записи <cite title="Source Title"><b><%= link_to c.post.title, post_path(c.post) %></b></cite> , написан <%= c.created_at.strftime("%d.%m.%Y в %H:%M:%S") %>
    </footer>
  </blockquote>

<% end %>
