<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Создать запись</div>
  <div class="panel-body">
    <p><%= render 'form', post: @post %></p>
  </div>

</div>